name: Run Go Security
on:
  schedule:
    # daily
    - cron:  '0 0 * * *'
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
        type: choice
        options:
          - info
          - warning
          - debug
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Check Out the Repository
        uses: actions/checkout@v6
      - name: Set Up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"
      - name: Dependecy Load
        run: go mod download
      - name: Dependecy Vendor for gosec
        run: go mod vendor
      - name: Run Gosec Security Scanner
        uses: securego/gosec@master
        with:
          args: -exclude-generated ./...
